.card {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(110, 110, 110);
  transform: scale(1.02);
  transition-duration: 500ms;
}
